.btn {
  background-color: rgb(var(--mono-color-1));
  border: 1px solid rgb(var(--mono-color-1));
  border-radius: 2rem;
  color: rgb(var(--tertiary-color));
  padding: .5rem var(--padding-1);
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  &-alt {
    background-color: transparent;
    color: rgb(var(--mono-color-1));
  }

  &-solid {
    background-color: rgb(var(--tertiary-color));
    border-color: rgb(var(--tertiary-color));
    color: rgb(var(--mono-color-1));
  }

  &-border {
    border-color: rgb(var(--mono-color-3));
  }
}