header {
  .search-wrap {
    border-block-end: solid 1px rgb(var(--mono-color-2));
  }
  
  img {
    max-width: 200px;
    width: 100%;
  }
  
  .search, .actions > * {
    padding: var(--padding-1);
  }
  
  .search {
    border-inline: solid 1px rgb(var(--mono-color-2));
  }
  
  .actions {
  
    .learn {
      border-bottom: solid 2px rgb(var(--secondary-color));
    }
  
    .donate {
      background-color: rgb(var(--tertiary-color));
      color: rgb(var(--mono-color-1));
    }
  }
}