.hero {
  gap: 2rem;
  justify-content: center;
  padding: var(--padding-2);

  h1 {
    background-color: rgb(var(--primary-color));
    padding: var(--padding-1);
    color: rgb(var(--mono-color-1));
    width: fit-content;
  }

  p {
    background-color: rgb(var(--mono-color-1));
    color: rgb(var(--secondary-color));
    padding: var(--padding-1);
  }
}

@media (min-width: 750px) {
  .hero {

    p {
      max-width: 50%;
    }
  }
}