.content-grid {
  display: grid;
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: var(--section-padding);
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &-col {
    flex-direction: column;
  } 
}