.sidekick {
  display: grid;
  grid-template-areas: 'content content' 'image image';
  grid-template-columns: 1fr 1fr;

  .image {
    background-size: cover;
    background-position: 50% 50%;
    grid-area: image;
    padding-block-start: 50%;
  }

  .content {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--mono-color-1));
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: content;
    padding: var(--padding-2);
  }
}

@media (min-width: 750px) {
  .sidekick {
    grid-template-areas: 'image content';
  }  
}