:root {
  --primary-color: 72 123 142; // blue
  --secondary-color: 71 128 119; // green?
  --tertiary-color: 182 48 64; //red
  --mono-color-0: 0 0 0;
  --mono-color-1: 255 255 255;
  --mono-color-2: 205 205 205;
  --mono-color-3: 64 64 64;

  --base-font-size: 1.6rem;
  --section-padding: 2rem;

  --padding-1: 1rem;
  --padding-2: 2rem;

  --font-family: Arial, Helvetica, sans-serif;
}