.what-we-do {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--mono-color-1));
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding-2);

  .card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
  }

  .btn {
    margin-inline: auto;
  }
}