@import './variables';
@import './button';
@import './layout';
@import './header';
@import './navigation';
@import './hero';
@import './sidekick';
@import './contact-section';
@import './contact-form';
@import './what-we-do';
@import './card';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: rgb(var(--mono-color-0));
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 0;
}

main, header {
  font-size: var(--base-font-size);
}

a {
  text-decoration: none;

  &.router-link-active {
    text-decoration: underline;
  }
}

/* Mini reset */
h1, h2, h3, h4, p, a {
  margin: 0;
}